<div class="jumbotron", align="center">
    <h1>Name of the website</h1>
    <p>THIS WOULD BE A SLIDING CAROUSSEL WITH THE LATEST VIDEOS</p>
    <% if current_user %>
    <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
</div>