// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
    padding-top: 70px; 
}
#left-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 200px;
}